.date {
    color: #b1b1b1;
}
.article-card-text {
    padding-bottom: 1.5rem;
}
.read-full {
    color: #dd7537;
    display: inline-block;
}
.read-full-wrapper {
    padding-bottom: 2rem;
    
}

.read-full-arrow{
    height: .6rem;
    padding: 0rem 0rem .05rem .5rem;
    display: inline-block;

}