.article-card {
    max-width: 30rem;
    padding: 0;
    margin: 5rem;

}

.mat-card-image {
    width: 100%;
    margin: 0;
}
.image-bar {
    position: relative;
    top: -1rem;
}
.card-content {
    margin: 2rem;
}
